            @import './../../../scss/config';
            @import './../../../scss/additional_mixin';
            .container {
              display: flex;
              flex-direction: column;
              height: $app-height;
            }
            
            .disabled {
              pointer-events: none;
              opacity: 0.6;
            }
            
            .home {
              height: 20%;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              box-sizing: border-box;
              align-items: center;
            }
            
            .content {
              height: 80%;
              &_base {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                flex-basis: 1 100%;
                p {
                  display: block;
                  color: $secondary-text-color;
                  padding-left: 337px;
                  height: 68px;
                  font-weight: bolder;
                  font-size: 35px;
                }
                &_plane {
                  width: 100%;
                  display: flex;
                  height: 170px;
                  justify-content: center;
                }
              }
            }
            
            @mixin box-plane {
              border-radius: 10px;
              width: 235px;
              height: inherit;
              color: white;
            }
            
            %plane-link-style {
              @include link-style();
              font-size: 24px;
              font-weight: 700;
              width: 135px;
              color: $primary-text-color;
            }
            
            .bookingPlane {
              @include position-base();
              @include box-plane();
              background-color: $secondary-color;
              a {
                @extend %plane-link-style;
                @include center-content();
                @include link-style();
              }
            }
            
            .offerPlane {
              @include position-base();
              @include box-plane();
              background-color: $primary-color;
              margin-left: 14px;
              a {
                @include center-content();
                @include link-style();
                @extend %plane-link-style;
              }
            }
            
            .info {
              width: 271px;
              display: flex;
              flex-direction: row;
              padding-right: 25px;
              margin: auto 0;
              justify-content: space-between;
              &>span {
                flex-grow: 1;
                text-align: end;
                margin: auto;
                font-weight: 800;
                padding-right: 13px;
              }
              &.displayDropDown {
                .dropDown {
                  display: block;
                }
              }
            }
            
            .listContainer {
              position: relative;
            }
            
            .list {
              position: absolute;
              height: 160px;
              width: 160px;
              display: none;
              list-style: none;
              right: 0;
              border: 1px solid $list-border-color;
              li {
                display: block;
                position: relative;
                width: 100%;
                text-align: center;
                font-weight: 700;
                height: 25%;
                &:hover,
                &:hover>a {
                  background-color: $secondary-color;
                  color: white
                }
                a {
                  position: absolute;
                  cursor: pointer;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  text-decoration: none;
                  margin: auto;
                  color: $list-text-color;
                  display: inline-block;
                }
              }
            }
            
            .makeHeightLess {
              li {
                height: 20%;
              }
            }
            
            .profileImage {
              @include profileImage();
            }