            @import './../../../scss/config';
            @import './../../../scss/additional_mixin';
            .container {
              display: flex;
              flex-direction: column;
              height: $app-height;
            }
            
            .home {
              height: 20%;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              box-sizing: border-box;
              align-items: center;
            }
            
            .content {
              height: 80%;
            }
            
            .info {
              width: 271px;
              display: flex;
              flex-direction: row;
              padding-right: 25px;
              margin: auto 0;
              justify-content: space-between;
              &>span {
                flex-grow: 1;
                text-align: end;
                margin: auto;
                font-weight: 800;
                padding-right: 13px;
              }
              &.displayDropDown {
                .dropDown {
                  display: block;
                }
              }
            }
            
            .listContainer {
              position: relative;
            }
            
            .list {
              position: absolute;
              height: 160px;
              width: 160px;
              display: none;
              list-style: none;
              right: 0;
              z-index: 100;
              background: white;
              border: 1px solid $list-border-color;
              li {
                display: block;
                position: relative;
                width: 100%;
                text-align: center;
                font-weight: 700;
                height: 25%;
                &:hover,
                &:hover>a {
                  background-color: $secondary-color;
                  color: white
                }
                a {
                  position: absolute;
                  cursor: pointer;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  text-decoration: none;
                  margin: auto;
                  color: $list-text-color;
                  display: inline-block;
                }
              }
            }
            
            .makeHeightLess {
              li {
                height: 20%;
              }
            }
            
            .profileImage {
              @include profileImage();
            }