@import './../../../../../scss/config';
@import './../../../scss/styles.module.scss';
@import './../../../../../scss/additional_mixin';
.footer {
  color: $primary-text-color;
  text-align: center;
  margin: 11px 0px;
  a {
    @include underline-style();
    text-decoration: none;
    font-weight: bold;
    color: $primary-text-color;
  }
}