@import './../../../scss/card';
.active {
  background-color: white;
}

.notActive {
  background-color: white;
  opacity: 0.8;
  cursor: no-drop;
}

.hovering {
  cursor: pointer;
}

.msg {
  color: $error-color;
  font-size: 11px;
}

.startRideButton {
  @include button();
  background-color: $primary-color;
}

#section4 {
  @include MakeCardRow();
  label {
    font-size: 26px;
    cursor: pointer;
  }
}

.makeHeightMore {
  height: 164px;
}