.offerCard{box-shadow:0 0 2px grey;width:402px;border-radius:10px;padding:14px;margin-bottom:10px;height:224px;padding-bottom:31px;transition:all 1s ease-in;background:#fff}
#offerHead{font-size:36px;height:62px}
.offerCard>div:not(:first-child){display:flex;flex-direction:row;flex-wrap:wrap}
.offerCard>div p:first-child{font-size:19px;color:grey;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;width:137px}
.offerCard>div>div p:last-child{font-size:22px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;width:137px}
.offerCard>div>div:first-child{width:141px}
#price>p:first-child,#seats>p:first-child{font-size:19px;color:grey}
#price:last-child,#seats:last-child{font-size:22px}
.canOfferEditmessage:not(:empty){margin-left:75px;font-weight:700;color:#cc0a0c;transition:.2s ease-in}
#space{float:left;height:52px;width:131px}
.hovering:hover{transition:all 1s ease-out;box-shadow:0 0 7px 3px #ffac19}
.selectOffer{float:right;font-size:33px;color:#02631c}
#offerHead>img{width:60px;height:60px;border-radius:100%;border:none;float:right}
