.ride {
  width: 100%;
  padding: 12px;
  height: 678px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: inline-block;
}

.rideContent {
  width: 486px;
  padding: 10px;
  box-shadow: 1px 1px 11px 0px #e4d8d8;
  /* color: #3a3232; */
  border: 1px solid white;
  border-radius: 14px;
  margin-left: 30px;
  height: 668px;
  float: left;
  background: white;
}

#rideHead {
  margin-top: 31px;
}

#top {
  height: 39px;
}

#rideHead #top>h1 {
  float: left;
}

#rideHead>p {
  color: grey;
  font-size: 16px;
  font-weight: bold;
}

#rideHead #top>button {
  float: right;
}

#rideFormBar {
  margin-top: 60px;
}

.rideFormcontent {
  margin-bottom: 30px;
}

.rideFormcontent>label {
  color: grey;
  font-weight: bolder;
}

.rideFormcontent input[type="text"] {
  height: 34px;
  display: block;
  width: 80%;
  border: 0;
  font-size: 23px;
  border: 0;
  margin-top: 6px;
  outline: none;
  border-bottom: 2px solid #1698de;
}

#from,
#to {
  height: 34px;
  display: block;
  width: 80%;
  border: 0;
  font-size: 23px;
  border: 0;
  margin-top: 6px;
  outline: none;
  border-bottom: 2px solid #1698de;
  position: relative;
}

.rideFormcontent input[type="text"]:placeholder-shown {
  outline: none;
  border-bottom: 1px solid #ccc;
}

#from,
#to:placeholder-shown {
  outline: none;
  border-bottom: 1px solid #ccc;
}

.rideFormcontent>div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 80px;
  width: inherit;
}

.rideForm {
  height: 696px;
  float: left;
  width: 1120px;
}

.rideFormcontent input[type="radio"] {
  opacity: 0;
  width: 105px;
  position: relative;
  top: 19px;
  left: 2px;
  /* height: 11px; */
  /* border: 1px solid black*/
}

.rideFormcontent>div label {
  background-color: white;
  border: 1px solid #9319ff;
  border-radius: 25px;
  width: 100px;
  padding: 3px;
  text-align: center;
  display: inline-block;
  color: black;
}

.time>div>div {
  width: 110px;
  height: 40px;
  padding: 0px;
  margin-right: 19px;
}

.rideFormcontent>div input[type="radio"]:checked+label {
  background-color: #9319ff;
  color: white;
}

.rideFormcontent>div label:hover {
  background-color: #9319ff;
  color: white
}

.submit-button {
  background-color: #ffac19;
  font-size: 23px;
  color: white;
  border-radius: 22px;
  border: 0;
  padding: 10px 35px;
  font-weight: 700;
  margin-top: 22px;
  display: block;
}

#next {
  float: right;
  font-size: 23px;
  color: #9319ff;
  font-weight: bold;
  position: relative;
  top: 50px;
  right: 37px;
  outline: none;
  border: none;
  background: white;
}

.stops {
  margin-top: 30px;
  color: grey;
  font-weight: 900;
  position: relative;
}

#viapoints>.stops>label {
  color: grey;
  display: block;
  font-weight: bold;
}

#viapoints>.stops>label:not(:first-child) {
  color: grey;
  display: block;
  font-weight: bold;
}

.stops>input:placeholder-shown {
  border-bottom: 1px solid gray;
}

.rideFormContinue {
  width: 486px;
  padding: 10px;
  box-shadow: 1px 1px 11px 0px #e4d8d8;
  /* color: #3a3232; */
  border: 1px solid white;
  border-radius: 14px;
  margin-left: 30px;
  height: 668px;
  float: left;
  overflow-y: auto;
  background: white;
}

#viapoints {
  margin-top: 76px;
}

#viapoints input {
  height: 34px;
  display: block;
  width: 80%;
  border: 0;
  font-size: 23px;
  outline: none;
  border-bottom: 2px solid #1698de;
}

#viapoints input:placeholder-shown {
  border-bottom: 2px solid #ccc;
}

.plus {
  font-size: 22px;
  position: relative;
  float: right;
  bottom: 27px;
  right: 90px;
}

.seats {
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

.seats input {
  position: relative;
  width: 16px;
  height: 15px;
  top: 29px;
  left: 13px;
  -webkit-appearance: none;
}

.seats input:hover {
  cursor: pointer;
}

.seats>div {
  float: left;
  width: 40px;
  margin-left: 6px;
}

.seats label {
  display: inline-block;
  width: inherit;
  background-color: white;
  color: grey;
  border: 1px solid grey;
  height: 39px;
  border-radius: 100%;
  font-size: 34px;
  text-align: center;
}

.seats input[type="radio"]:checked+label {
  background-color: #9319ff;
  color: white;
}

#sectionB {
  margin-top: 17px;
  height: 71px;
  float: left;
  width: 50%;
  display: flex;
  flex-direction: column;
}

#sectionB>label {
  color: grey;
  display: block;
}

#offerPrice {
  float: left;
  margin-top: 18px;
  margin-left: 5px;
  width: 40%;
  height: 70px;
}

#offerPrice>label {
  display: block;
  color: gray;
}

#offerPrice>input {
  height: 40px;
  border: none;
  outline: none;
  font-size: 32px;
  width: 100%;
}

#offerPrice>input::placeholder {
  color: gray;
  font-weight: 700;
}

#offerPrice>input::after {
  content: '$';
}

#offerPrice>input:placeholder-shown {
  border: 0;
  font-size: 19px;
}

#container {
  position: relative;
  background-color: rgba(0, 0, 0, .2);
}

input[type="checkbox"] {
  width: 60px;
  display: block;
  height: 30px;
  -webkit-appearance: none;
  /* background-color: blue; */
  border-radius: 23px;
  padding: 2px;
  background-color: #ffac19;
  margin-left: 341px;
}

input[type="checkbox"]:before {
  content: "";
  width: 28px;
  border-radius: 100%;
  display: block;
  height: 25px;
  position: relative;
  background: white;
  transition: 1s;
  /* margin-left: 90px;*/
}

input:checked[type="checkbox"] {
  background-color: #9319ff;
}

input:checked[type="checkbox"]:before {
  transform: translateX(27px);
}

.upload-button {
  width: 100px;
  height: 40px;
  padding: 5px;
  border-radius: 23px;
  background-color: #9319ff;
}

.minus {
  position: relative;
  float: right;
  font-size: 34px;
  display: inline-block;
  top: 13px;
  right: 19px;
  color: gray;
}

#section1 {
  height: 51px;
  display: flex;
  flex-direction: row;
}

.msg {
  color: red;
}

span.msg::before {
  content: "*";
}

.edit {
  font-size: 27px;
  float: left;
}

.delete {
  float: right;
  font-size: 30px;
}

.decrease {
  width: 556px;
}

button:hover {
  cursor: pointer;
}

#allmatches>div:nth-child(even) {
  margin-left: 65px;
}

.formWidthLess {
  width: 556px;
}

.formWidthMore {
  width: 100%;
}

.suggestionResult {
  position: absolute;
  z-index: 100;
}

.suggestionResult>span {
  display: block;
}

.positionRelative {
  position: relative;
}

.time>span:not(:nth-child(2)) {
  width: 32%;
}

.time>span:nth-child(2) {
  font-weight: bolder;
  width: 3%;
  font-size: 30px;
}

.time input[type="text"] {
  width: 100%;
}

.dateTime {
  width: 80%;
}

.VehicleInfo {
  margin-top: 21px;
  margin-bottom: 20px;
}

.VehicleInfo>p>span {
  width: 49%;
  display: inline-block;
}

.DateTimePicker {
  margin-top: 21px;
}

.suggestionResult>span:hover {
  cursor: pointer;
}