@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
$primary-color:rgb(255,
172,
25);
$secondary-color:rgb(147,
25,
255);
$form-text-color:gray;
$primary-text-color:white;
$secondary-text-color:black;
$list-text-color:gray;
$error-color:red;
$upload-color:green;
$app-height:900px;
$active-color:#1698de;
$secondary-error-color:#bf0c00;
$list-border-color:#ead9d9;
* {
  font-family: 'Century Gothic';
}