.bookCard{box-shadow:0 0 2px grey;width:402px;border-radius:10px;padding:14px;margin-bottom:32px;height:201px;padding-bottom:31px}
#bookHead{font-size:36px;height:63px}
#bookHead>img{width:60px;height:60px;border-radius:100%;border:none;float:right}
.bookCard>div p:first-child{font-size:19px;color:grey}
.bookCard>div>div p:last-child{font-size:22px}
#section1{height:51px;display:flex;flex-direction:row}
#section1>div:first-child{width:145px}
#section2{height:52px}
#section1 img{height:51px;width:98px}
#section2>div:first-child{float:left;width:110px;margin-right:135px}
#section2>div:last-child{float:left}
#section3>div:first-child{float:left;margin-right:202px}
.requested{box-shadow:0 0 10px 0 #000}
#section3{height:49px}
#section3>div:last-child{height:46px;float:right;font-size:40px;width:152px;padding-top:11px}
.reject{float:left}
.accept{float:right}
