$primary-color:#e1d4d4;
$bg-color:rgb(232, 125, 125);
@keyframes example {
  from {
    background: white;
    top: -44px;
  }
  to {
    top: 0px;
  }
}

.errorContainer {
  color: $primary-color;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: $bg-color;
  font-size: 20px;
  height: 43px;
  position: absolute;
  width: 100%;
  z-index: 2;
  animation-name: example;
  animation-duration: .2s;
  button {
    cursor: pointer;
    text-align: center;
    border: none;
    background-color: #00000075;
    width: 17px;
    height: 18px;
  }
}