@import '~office-ui-fabric-react/dist/sass/References.scss';
@import './../../../scss/config';
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@mixin underline-style() {
  & {
    display: inline-block;
  }
  &::after {
    display: block;
    border: 2px solid text-primary-color;
    content: '';
    width: 80%;
    margin: auto;
  }
}

* {
  margin: 0;
  padding: 0;
}

@mixin button() {
  border-radius: 19px;
  width: 103px;
  text-align: center;
  height: 37px;
  color: #fff;
  font-weight: 600;
  padding: 6px 0;
  font-size: 17px;
  box-sizing: border-box;
  border: none;
}

@mixin text-box($element,
$lebel-color,
$text-color,
$width) {
  .#{$element} {
    position: relative;
    width: $width;
    height: 50px;
    font-size: 17px;
    label {
      display: block;
    }
    input[type='text'] {
      width: 100%;
      height: inherit;
      color: $text-color;
      outline: none;
      border: 0;
      padding-top: 16px;
      padding-left: 24px;
      box-sizing: border-box;
      &:not(:placeholder-shown)+span,
      &:focus+span {
        top: 4px;
        font-size: 10px;
      }
    }
    span {
      position: absolute;
      color: $lebel-color;
      left: 14px;
      top: 13px;
      transition: all .2s ease-in-out;
    }
  }
}

@mixin error-text-area($font-size,
$height) {
  &:empty {
    padding-top: 20px;
  }
  font-size: $font-size;
  height: $height;
  padding-top: 0;
  color: $error-color;
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding-left: 14px;
}

.container {
  display: flex;
  flex-direction: row;
  .signUp {
    background-color: $secondary-color;
  }
  .logIn {
    background-color: $primary-color;
  }
  .image {
    background-image: url('/src/webparts/car pool/assests/ASUS.jpg');
    background-size: 100% 100%;
    width: 66%;
  }
  .formBar {
    width: calc(100%-66%);
    .msg_input_container {
      height: 70px;
      width: 255px;
      &>label {
        @include error-text-area(14px,
        20px);
      }
      @include text-box(input-container,
      gray,
      rgb(66,
      63,
      63),
      100%);
    }
    .msg_password_input_container {
      height: 70px;
      width: 255px;
      @include text-box(input-container,
      gray,
      black,
      80%);
      //not working why
      // input[type="text"]:after {
      //   display: block;
      //   width: 20%;
      //   background-color: white;
      //   content: 'Coo';
      //   height: inherit;
      //   color: red
      // }
      &>label {
        @include error-text-area(14px,
        20px);
      }
      // .togglePassword {
      //   width: 20%;
      //   background: white;
      //   color: gray;
      // }
    }
    .uploadSection {
      display: flex;
      width: 255px;
      justify-content: space-between;
      input[type="file"] {
        opacity: 0;
        width: 0;
        height: 0;
      }
      label {
        @include button();
        background-color: $upload-color;
        margin: auto;
        box-shadow: 0px 3px 1px 1px black;
      }
      .imageBorder {
        width: 95px;
        border: 2px outset black;
        position: relative;
        padding-top: 92px;
        img {
          position: absolute;
          width: inherit;
          height: 92px;
          top: 0px;
        }
      }
    }
  }
}

.submitSection {
  width: 255px;
  input {
    @include button();
    background-color: $secondary-color;
    margin: auto;
  }
}