.offerList{width:100%;display:flex;flex-wrap:wrap}
.active,.notActive{margin:12px 93px}
#section4{float:right}
#section4:first-child{margin-right:100px}
.edit{margin-right:100px}
#offers{border-collapse:collapse;width:100%}
#offers td,#offers th{border:1px solid #ddd;padding:8px;text-align:center}
#offers tr:nth-child(even){background-color:#f2f2f2}
#offers tr:hover{background-color:#ddd}
#offers th{padding-top:12px;padding-bottom:12px;text-align:left;background-color:#ffac19;color:#fff;text-align:center}
.buttonLocationUpdate{width:100px;height:34px;background:#6cb524;font-size:25px;border-radius:10px;color:#fff}
.msg-earning{font-size:31px;text-align:center;font-weight:600;background:transparent transparent transparent;background:#43ad15;color:#fff;text-shadow:-11px 0 11px #000}
.msg-reach{font-size:30px;text-align:center;font-weight:600;color:#d11919}
#offers td:first-child{
    font-weight: bold;
    font-size: 19px;
}