@import './../../../scss/config';
* {
  outline: none;
}

.ride {
  width: 100%;
  padding: 12px;
  height: 678px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: inline-block;
}

.rideContent {
  width: 338px;
  padding: 10px;
  -webkit-box-shadow: 1px 1px 11px 0 #e4d8d8;
  box-shadow: 1px 1px 11px 0 #e4d8d8;
  border: 1px solid #fff;
  border-radius: 14px;
  margin-left: 30px;
  height: 536px;
  float: left;
  background: #fff;
}

.rideHead {
  margin-top: 31px;
}

.top {
  height: 39px;
}

.rideHead .top>h1 {
  float: left;
}

.rideHead>p {
  color: grey;
  font-size: 12px;
  font-weight: bold;
}

.rideHead .top>button {
  float: right;
}

.rideFormBar {
  margin-top: 15px;
}

.rideFormcontent {
  margin-bottom: 11px;
}

.rideFormcontent>label {
  color: grey;
  font-weight: bolder;
  font-size: 12px;
  display: block;
}

.rideFormcontent input[type="text"] {
  height: 24px;
  display: block;
  width: 80%;
  border: 0;
  font-size: 11px;
  border: 0;
  outline: none;
  border-bottom: 2px solid #1698de;
}

.from,
.to {
  height: 34px;
  display: block;
  width: 80%;
  border: 0;
  font-size: 23px;
  border: 0;
  margin-top: 6px;
  outline: none;
  border-bottom: 2px solid #1698de;
  position: relative;
}

.rideFormcontent input[type="text"]:placeholder-shown {
  outline: none;
  border-bottom: 1px solid #ccc;
}

.from,
.to:placeholder-shown {
  outline: none;
  border-bottom: 1px solid #ccc;
}

.rideFormcontent>div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 80px;
  width: inherit;
}

.rideForm {
  height: 696px;
  float: left;
  width: 1120px;
}

.submit-button {
  background-color: #ffac19;
  font-size: 19px;
  color: #fff;
  border-radius: 22px;
  border: 0;
  padding: 7px 25px;
  font-weight: 700;
  margin-top: 22px;
  display: block;
  cursor: pointer;
}

.next {
  float: right;
  position: relative;
  top: 32px;
  right: 20px;
  font-weight: 700;
  outline: none;
  color: $secondary-color;
  font-size: 15px;
  background-color: white;
  border: none;
  cursor: pointer;
}

.stops {
  margin-top: 30px;
  color: grey;
  font-weight: 900;
  position: relative;
}

.viapoints>.stops>label {
  color: grey;
  display: block;
  font-size: 12px;
  font-weight: bold;
}

.stops>input:placeholder-shown {
  border-bottom: 1px solid gray;
}

.rideFormContinue {
  width: 338px;
  padding: 10px;
  box-shadow: 1px 1px 11px 0px #e4d8d8;
  /* color: #3a3232; */
  border: 1px solid white;
  border-radius: 14px;
  margin-left: 30px;
  height: 538px;
  float: left;
  overflow-y: auto;
  background: white;
}

.viapoints {
  margin-top: 51px;
}

.viapoints input {
  height: 34px;
  display: block;
  width: 80%;
  border: 0;
  font-size: 23px;
  outline: none;
  border-bottom: 2px solid #1698de;
  font-size: 12px;
}

.viapoints input:placeholder-shown {
  border-bottom: 2px solid #ccc;
}

.plus {
  font-size: 22px;
  position: relative;
  float: right;
  bottom: 32px;
  right: 74px;
  cursor: pointer;
  &:hover {
    color: $active-color;
  }
}

.seats {
  width: 42%;
  float: left;
  box-sizing: border-box;
  &>label:first-child {
    font-size: 12px;
    margin-bottom: 7px;
    display: inline-block;
    font-weight: bolder;
    color: gray;
  }
}

.sectionB {
  margin-top: 17px;
  height: 71px;
  float: left;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.sectionB>label {
  color: grey;
  display: block;
}

.offerPrice {
  margin-left: 29px;
  width: 46%;
  display: inline-block;
  font-size: 12px;
  label {
    color: grey;
    font-weight: bolder;
    font-size: 12px;
    margin-bottom: 17px;
    display: block;
  }
}

input[type="checkbox"] {
  width: 41px;
  display: block;
  height: 23px;
  -webkit-appearance: none;
  border-radius: 23px;
  padding: 2px;
  background-color: #ffac19;
  margin-left: 261px;
}

input[type="checkbox"]:before {
  content: "";
  width: 19px;
  border-radius: 100%;
  display: block;
  height: 19px;
  position: relative;
  background: #fff;
  -webkit-transition: 1s;
  transition: 1s;
  outline: 0;
}

input:checked[type="checkbox"] {
  background-color: #9319ff;
}

input:checked[type="checkbox"]:before {
  transform: translateX(18px);
}

.upload-button {
  width: 100px;
  height: 40px;
  padding: 5px;
  border-radius: 23px;
  background-color: #9319ff;
}

.minus {
  i {
    cursor: pointer;
  }
}

.section1 {
  height: 51px;
  display: flex;
  flex-direction: row;
}

.msg {
  color: red;
}

span.msg::before {
  content: "*";
}

.edit {
  font-size: 27px;
  float: left;
}

.delete {
  float: right;
  font-size: 30px;
}

.decrease {
  width: 556px;
}

button:hover {
  cursor: pointer;
}

.allmatches>div:nth-child(even) {
  margin-left: 65px;
}

.formWidthLess {
  width: 400px;
}

.formWidthMore {
  width: 100%;
}

.suggestionResult {
  position: absolute;
  z-index: 100;
  width: 100%;
  background: white;
}

.bookingItems {
  span:hover {
    background: $secondary-color;
    color: white;
  }
}

.offerItems {
  span:hover {
    color: white;
    background: $primary-color;
  }
}

.suggestionResult>span {
  display: block;
}

.positionRelative {
  position: relative;
}

.dateTime {
  width: 80%;
}

.VehicleInfo {
  margin-top: 21px;
  margin-bottom: 20px;
}

.VehicleInfo>p>span {
  width: 49%;
  display: inline-block;
}

.suggestionResult>span:hover {
  cursor: pointer;
}

.discount {
  border: 3px solid $active-color;
  height: 40px;
  width: 80%;
  label {
    display: block;
  }
  &>option {
    height: 40px;
    width: 80%;
  }
}

.vehicleType {
  border: 3px solid $active-color;
  height: 40px;
  width: 80%;
  &>option {
    height: 40px;
    width: 80%;
  }
}

body {
  padding: 10px;
}

.timePicker {
  & label {
    font-size: 12px;
    color: gray;
    font-weight: bold;
  }
}

.timeContainer {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 11px;
}

.timeHolder {
  position: relative;
  display: inline-block;
  margin: 3px;
  & input[type="radio"] {
    position: absolute;
    display: inline-block;
    width: 100%;
    top: 5px;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
  }
  & input[type="radio"]:checked+label {
    color: white;
    background: $secondary-color;
  }
  &>label {
    border: 1px solid $secondary-color;
    border-radius: 10px;
    color: #000;
    text-align: center;
    width: 88px;
    display: inline-block;
    height: 21px;
    font-weight: 700;
  }
}

.seatContainer {
  display: flex;
  flex-flow: row nowrap;
  height: 47px;
  justify-content: flex-start;
  width: 90%;
  align-items: stretch;
  overflow-x: auto;
}

.seatHolder {
  position: relative;
  flex-grow: 1;
  flex: 0 0 auto;
  margin-right: 40px;
  & label {
    position: absolute;
    border: 1px solid gray;
    border-radius: 50%;
    display: inline-block;
    width: 30px;
    text-align: center;
    height: 25px;
    font-size: 16px;
    padding-top: 3px;
    z-index: 0;
  }
  & input[type="radio"] {
    position: absolute;
    top: 8px;
    left: 10px;
    cursor: pointer;
    opacity: 0;
    display: inline-block;
    height: 15px;
    z-index: 1;
  }
  & input[type='radio']:checked+label {
    background: $secondary-color;
    color: white;
    border: none;
  }
}

.seatContainer::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: $secondary-color;
  -webkit-box-shadow: inset 0 0 1px 2px white;
  width: 40%;
}

.seatContainer::-webkit-scrollbar-track {
  background: $primary-color;
  border-radius: 5px;
  border: 1px solid #1698de;
}

.seatContainer::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  padding: 0 4px;
}

.main_error_msg:empty {
  padding-top: 6px;
  display: inline-block;
  animation: blinkingText 1.2s infinite;
  width: 100%;
  text-align: center;
}

.main_error_msg {
  padding-top: 0px;
  width: 100%;
  text-align: center;
  display: inline-block;
  animation: blinkingText 1.2s infinite;
  color: $secondary-error-color;
  font-weight: 700;
}

@keyframes blinkingText {
  0% {
    color: white;
  }
  49% {
    color: $secondary-error-color;
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: $secondary-error-color;
  }
}