@import './../../../scss/config';
$width:402px;
$height:201px;
$main-font-size:24px;
$primary-font-size:12px;
@mixin makeDisplayFlex($direction) {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: $direction;
}

.bookCard {
  box-shadow: 0 0 2px grey;
  width: $width;
  border-radius: 10px;
  padding: 14px;
  margin-bottom: 32px;
  height: $height;
  padding-bottom: 31px;
  @include makeDisplayFlex(column);
}

#bookHead {
  @include makeDisplayFlex(row);
  justify-content: space-around;
  label {
    font-weight: 700;
    font-size: $main-font-size;
  }
}

#bookHead>img {
  @include profileImage();
}

@mixin makeHeading() {
  font-size: 12px;
  color: gray;
}

@mixin text-info() {
  font-size: 15px;
  color: black;
}

#section1 {
  @include makeDisplayFlex(row);
  justify-content: flex-start;
  &>div>p:first-child {
    @include makeHeading();
  }
  &>div>p:last-child {
    @include text-info();
  }
}

#section1>div:first-child {
  width: 145px
}

#section2 {
  height: 52px
}

#section1 img {
  height: 51px;
  width: 98px
}

#section2>div:first-child {
  float: left;
  width: 110px;
  margin-right: 135px
}

#section2>div:last-child {
  float: left
}

#section3>div:first-child {
  float: left;
  margin-right: 202px
}

.requested {
  box-shadow: 0 0 10px 0 #000
}

#section3 {
  height: 49px
}

#section3>div:last-child {
  height: 46px;
  float: right;
  font-size: 40px;
  width: 152px;
  padding-top: 11px
}

.reject {
  float: left
}

.accept {
  float: right
}