@import './../../../scss/card';
.editSection {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  label {
    cursor: pointer;
  }
}

.status {
  font-size: 20px;
}

.bookingStatus {
  color: $primary-color;
  font-size: 15px;
}

.offerBookingStatus {
  color: $secondary-color;
}